@import url('/styles/reset.css');
@import url('/styles/header.css');
@import url('/styles/noticias.css');
@import url('/styles/outras-noticias.css');
@import url('/styles/topicos.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --azul-escuro: #31569C;
    --laranja: #E38B23;
    --preto: #131313;
    --branco: #FFFFFF;
    --cinza-escuro: #5A5757;
    --cinza-claro: #D9D9D9;
    --fonte-principal:"Poppins";
}

body {
    height: 100vh;
    font-family: var(--fonte-principal);
}

.negrito {
    font-weight: bold;
}

main {
    margin: 24px 64px;
}

.sem__espaco {
    white-space: nowrap;
}