header {
    background-color: var(--azul-escuro);
    display: flex;
    justify-content: space-between;
    padding: 16px 64px;
}

.div__img {
    display: flex;
    align-items: center;
}

.div__botoes {
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__botao {
    border-radius: 8px;
    text-decoration: none;
}

.botao__login {
    background-color: var(--branco);
    color: var(--laranja);
    padding: 8px 32px;
}

.botao__criar-conta {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 8px 12px;
}





