.sessao__noticias {
    display: flex;
    gap: 16px;
}

.noticia__div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.noticia__titulo {
    font-size: 32px;
}

.noticia__autor {
    align-self: flex-end;
    color: var(--cinza-escuro);
}

.noticia__card__autor {
    font-size: 14px;
}







