.outra-noticas__div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.noticia__card__titulo {
    font-size: 16px;
}

.outra-noticia__card {
    background-color: var(--cinza-claro);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border-radius: 4px;
}