.topicos__div {
    background-color: var(--cinza-claro);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 4px;
}

.topicos__titulo {
    font-size: 20px;
}

.topicos__lista {
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.topicos__lista__item {
    text-decoration:underline;
}